html {
  font-family: 'DungGeunMo',Pretendard JP,Pretendard,-apple-system,system-ui,Meiryo,Noto Sans JP,Noto Sans KR,sans-serif;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color:#1D2B53;
  color:#FFF1E8;
}

.container{
  display: grid;
  grid-template-columns: minmax(0px,1fr) minmax(128px,1024px) minmax(0px,1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.main{ grid-area: 1 / 2 / 2 / 3; }
.Left_Side{ grid-area: 1 / 1 / 2 / 2; }
.Right_Side{ grid-area: 1 / 3 / 2 / 4; }

.shadow{
  box-shadow:8px 8px 0px rgba(17, 28, 63, 1);
  border-radius:50%;
}


a:link{
  color:#29ADFF;
}
a:hover{
  color:#83769C;
}
a:active{
  color:#00E436;
}

.main_flex{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.profile{
  position:relative;
  width:128px;
  height:128px;
  background-color:blue;
  border-radius:50%;
  overflow:hidden;
}

.profile img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
